body{
         background-color: #444;
         margin: 0;
         padding: 0;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         font-weight: bolder;
}
h1{
         text-align: center;
         font-size: 6vh;
         margin: 0;
}
td{
         padding: 3vh;
}
table{
         margin: auto;
         box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.515);
         border-collapse: collapse;
         border-radius: 1vh;
         overflow: hidden;
}

.unknownDark{
         background-color: #306238;
}
.unknownLight{
         background-color: #306f34;
}
.blankDark{
         background-color: #555;
}
.blankDark{
         background-color: #333;
}
.mine{
         background-color: rgb(122, 20, 20);
}
@media (max-width:500px) {
         table{
                  width: 100%;
         }
         td{
                  padding: 5vh;
         }
}